<% include header.ejs %>

<div class="container">
  <div class="row">
    <div class="col-md">
      <form method="post">
        <div class="form-group">
          <label for="inputCategory">Category Name</label>
          <input type="text" class="form-control" name="category" id="inputCategory" placeholder="Nama Category">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

<% include footer.ejs %>